@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro&display=swap');

*, *::before *::after {
    box-sizing: border-box;
}

form {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: white;
    margin: 0;
}

form::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: grey;
    padding: 2.5rem 0.5rem;
    margin: auto;

}

h3 {
    font-size: 2em;
}

fieldset {
    margin: 0 5rem;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    margin: 1em;
    border: none;
    background: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



